.root {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-height:  var( --chat-form-height);
    background-color: var(--app-ui-components);
    border-top: 1px solid var(--app-border-color);
}