.root {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 55px;
  flex: none;

  input {
    display: none;

    &:checked + .root__decor {
      background-color: var(--app-bg-chat-content);
    }
  }

  &__slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;

    &::after,
    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 13px;
    }

    &::after {
      content: "☀️";
      left: 4px;
    }

    &::before {
      content: "🌙";
      right: 4px;
    }
  }

  &__decor {
    height: 23px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 23px;
    z-index: 1;
    background-color: rgb(107, 107, 107);
    bottom: 3px;
    border-radius: 50%;
    cursor: pointer;
  }

  &__round {
    border-radius: 34px;

    &::before {
      border-radius: 50%;
    }
  }

  &.active {
    .root__decor {
      transform: translateX(22px);
    }
  }
}
