.root {
    background-color: rgba(#407ec9, 0.08);
    width: 86px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 16px;
    border-radius: 4px;
}