.root {
    height: var(--header-height);
    border-bottom: 1px solid var(--app-border-color);
    padding: 0 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--app-theme);

    &__title {
        padding-left: 30px;
        background-image: url("../../assets/images/message-header.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
    }
}