.root {
    &__inner {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__wrapper {
        width: 100%;
        margin-bottom: 4px;

        textarea {
            font: inherit;
            padding: 10px 16px;
            height: 40px;
            width: 100%;
            outline: none;
            background-color: var(--app-ui-components);
            color: var(--app-heading-color);
            outline: none;
            border: none;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}