.root {
    position: relative;
    padding-top: 184px;
    width: 100%;
    height: calc(100vh - var(--chat-form-height) - var(--header-height));
    overflow: auto;

    &__timeGroup {
        position: relative;
        padding: 44px 24px;
    }

    &__time {
        top: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__form {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
}