.root {
    display: flex;
    height: 100vh;
    overflow: hidden;

    &__chat {
        position: relative;
        width: 100%;
        border-left: 1px solid var(--silver);
    }

    &__form {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--white);
    }
}