:root {
  --app-theme: #fff;
  --app-bg-chat: #fff;
  --app-bg-chat-content: #fff;
  --app-heading-color: #000;
  --app-text-color: #201f1e;
  --app-ui-components: #f6f6f6;
  --app-text-time-color: #605e5c;
  --app-bg-active-chat: #f0f5fb;
  --app-border-color: #e4e4e4;
  --app-bg-message: #f3f3f3;
  --app-text-message: #201f1e;
  --app-hover-chat-bg: #282e33;
}

:root {
  --header-height: 64px;
  --chat-form-height: 50px;
  --sidebar-width: 360px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  transition: background-color linear 0.1s;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: var(--app-text-color);
}

body::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar {
  width: 0;
}
